//cores
//colors
$corFundo: #f3f2f5;
$corPrincipal: #f5d8a1;
$corBotao: #44bd32;
$corHover: #4cd137;
$corTexto: #ffffff;
$corHeader: #182C61;

//diversos tamanhos de telas
//hardware screens sizes
$mobile: 767px;
$tablet: 1023;